* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html, body, p {
  font-family: 'EB Garamond', serif;
}

body {
  font-size: 1.5rem;
}

.layout__menu {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 3rem;
  background-color: white;
  border-bottom: solid 1px black;
}

.layout__content {
  padding: 1rem;
}

.layout__content--with-header {
  padding-top: 4rem;
}