/* Glyph, by Harry Roberts */

hr {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  text-align: center;
  position: relative;
  top: 1.5em;
}

hr:after {
  content: "ยง";
  display: inline-block;
  position: relative;
  top: -0.75em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}